<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

<!--    UserServelet-->
<servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.tangjia.web.UserServlet</servlet-class>
</servlet>
    <servlet>
        <servlet-name>GoodServlet</servlet-name>
        <servlet-class>com.tangjia.web.GoodServlet</servlet-class>
    </servlet>

<!--    分割线     -->
    <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoodServlet</servlet-name>
        <url-pattern>/goodServlet</url-pattern>
    </servlet-mapping>
    <!--验证码的servlet-->
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/code.jpg</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CarServlet</servlet-name>
        <servlet-class>com.tangjia.web.CarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarServlet</servlet-name>
        <url-pattern>/carServlet</url-pattern>
    </servlet-mapping>
    <!--wuchaoxu ======================au-->
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.tangjia.web.AuthServlet</servlet-class>
    </servlet>
<servlet-mapping>
    <servlet-name>AuthServlet</servlet-name>
    <url-pattern>/authServlet</url-pattern>
</servlet-mapping>
</web-app>